<div class="input-container">
    <label for="sku">SKU:</label>
    <input type="text" id="sku" name="sku">
</div>
<div class="input-container">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
</div>
<div class="input-container">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio">
</div>
<div class="input-container">
    <label for="cantidad">Cantidad en stock:</label>
    <input type="number" id="cantidad" name="cantidad">
</div>
<div class="break"></div>
<div class="input-container" style="width: 100%;">
    <label for="descripcion">Descripcion:</label>
    <textarea id="descripcion" name="descripcion"></textarea>
</div>
<div class="break"></div>
<div class="input-container" style="overflow-x: hidden;">
    <label for="file-input">Imagen:</label>
    <input id="file-input" type="file" name="myImage" accept="image/png, image/jpeg" />
</div>
<div class="break"></div>
<div class="input-container">
    <img style="width: 100%; max-width: 300px; height: auto;"> </img>
</div>