<nav class="navbar">
    <div class="logo">
        <h1>MUSICZONE</h1>
    </div>
    <ul class="nav-links">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="products.html">Productos</a></li>
        <li id="account-button" style="display: none;"><a href="cuenta.html">Cuenta</a></li>
        <li id="cart-button" style="display: none;"><a href="carrito.html">Carrito</a></li>
        <li id="login-button"><a href="login.html" class="login-button">Login</a></li>
        <li id="logout-button" style="display: none;"> <a href="#" class="logout-button">Logout</a></li>
    </ul>
    <div class="hamburger">
        &#9776;
    </div>
</nav>